@import "tokens.css";

html {
    color: var(--color-secondary);
    background-color: var(--color-bg);

    font-family: "Lexend Deca", serif;
}

h1, h2, h3 {
    font-family: "Cherry Bomb One", serif;
}