@import "app.css";

a:link {
    color: var(--color-link);
}
a:visited {
    color: var(--color-link-visited);
}

#recipe-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-wrap: nowrap;

    gap: 10px;

    padding: 40px;

    width: 100%;
}

#recipe-body {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 48rem) {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    column-gap: 20px;

    padding: 20px;

    border-top: 1px solid var(--color-text);

}

#ingredients-container {
    border-right: 1px solid var(--color-text);
    padding: 10px;
}

#steps-container {
    padding: 10px;
}