@import "app.css";

a:link {
    color: var(--color-link);
}
a:visited {
    color: var(--color-link-visited);
}

.card {
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    width: fit-content;

    background: var(--color-egg-yolk);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}